<!DOCTYPE html>
<html lang="ko" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>BusinessFlow</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../Falcon-v3.0.0-beta7/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Falcon-v3.0.0-beta7/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Falcon-v3.0.0-beta7/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../Falcon-v3.0.0-beta7/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../Falcon-v3.0.0-beta7/public/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../Falcon-v3.0.0-beta7/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../Falcon-v3.0.0-beta7/public/assets/js/config.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../Falcon-v3.0.0-beta7/public/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="../Falcon-v3.0.0-beta7/public/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="../Falcon-v3.0.0-beta7/public/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="../Falcon-v3.0.0-beta7/public/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="../Falcon-v3.0.0-beta7/public/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="../Falcon-v3.0.0-beta7/public/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark" data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
        <div class="container"><a class="navbar-brand" href="../Falcon-v3.0.0-beta7/public/index.html"><span class="text-white dark__text-white">BusinessFlow</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="container">asd</div>
      </nav>
      

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden light" id="banner">

        <div class="bg-holder overlay" style="background-image:url(../Falcon-v3.0.0-beta7/public/assets/img/generic/AnalyticsWallpaper.png);background-position: center bottom;"></div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
            <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-start">
              <h1 class="text-white fw-light">Can analyze <br><span class="typed-text fw-bold" data-typed-text='["industry","company","news"]'></span><br />in BusinessFlow</h1>
              <p class="lead text-white opacity-75">"site introduction, purpose, etc..."</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light text-center">

        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what we can do</h1>
              <p class="fs-2 fs-sm-1 fs-md-2">COVID-19의 상황과 함께 볼 수 있습니다.</p>
            </div>
          </div>
          <div class="row mt-6">
            <div class="col-lg-4">
              <div class="card card-span h-100"><a href="analysis-industry.html" class="stretched-link"></a> 
                <div class="card-span-img"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-minecart" viewBox="0 0 16 16">
                  <path d="M4 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8-1a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82 1.313 7h11.17l1.313-7H1.102z"/>
                </svg></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">산업 분석</h5>
                  <p>2020년도 부터 현재까지 각 분야에 속한 기업들을 종합해 산업을 분석합니다.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100"><a href="analysis-company.html" class="stretched-link"></a>
                <div class="card-span-img"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#5BEF32" class="bi bi-building" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                </svg></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">기업 분석</h5>
                  <p>2020년도 부터 현재까지 각 기업들의 재무 정보, 시장 정보 등을 분석합니다.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100"><a href="analysis-news.html" class="stretched-link"></a>
                <div class="card-span-img"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#F84B4B" class="bi bi-tv-fill" viewBox="0 0 16 16">
                  <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM2 2h12s2 0 2 2v6s0 2-2 2H2s-2 0-2-2V4s0-2 2-2z"/>
                </svg></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">뉴스룸</h5>
                  <p>산업 또는 기업에 관한 2020년 부터 최신의 뉴스들을 정리된 상태로 볼 수 있습니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 bg-dark light">

        <div>
          <hr class="my-0 text-600 opacity-25" />
          <div class="container py-3">
            <div class="row justify-content-between fs--1">
              <div class="col-12 col-sm-auto text-start">
                <p class="mb-0 text-600 opacity-85">Borrowed bootstrap theme 'Falcon' to design this site.</p>
                <p class="mb-0 text-600 opacity-85">Data collected from <span style="color: white"><a href="http://dart.fss.or.kr/">Dart</a></span></p>
                  
              </div>
              <div class="col-12 col-sm-auto">
                <p class="mb-0 text-600 opacity-85" align="right">team 8. '통계청'<br>Developers 강명석, 나동규, 정준호, 조준화</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../Falcon-v3.0.0-beta7/public/vendors/popper/popper.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/anchorjs/anchor.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/is/is.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/swiper/swiper-bundle.min.js"> </script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/typed.js/typed.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/fontawesome/all.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../Falcon-v3.0.0-beta7/public/vendors/list.js/list.min.js"></script>
    <script src="../Falcon-v3.0.0-beta7/public/assets/js/theme.js"></script>

  </body>

</html>